#################################
# API KEYS
#################################

OPENAI_KEY=your_openai_key_here

AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here

#################################
# ROOT PATHS (EDIT ONLY THESE)
#################################

# Root directory containing both datasets
DATA_ROOT=/path/to/datasets

# Root directory for results/output
RESULTS_ROOT=./results


#################################
# MULTIMODALQA PATHS
#################################

IMAGE_DIR_MULTIMODALQA=${DATA_ROOT}/multimodalqa/images
TEXT_DIR_MULTIMODALQA=${DATA_ROOT}/multimodalqa/texts
TABLE_DIR_MULTIMODALQA=${DATA_ROOT}/multimodalqa/tables
FINAL_DATASET_IMAGES_MULTIMODALQA=${DATA_ROOT}/multimodalqa/final_dataset_images

QUESTIONS_TRAINING_MULTIMODALQA=${DATA_ROOT}/multimodalqa/questions/training
QUESTIONS_VALIDATION_MULTIMODALQA=${DATA_ROOT}/multimodalqa/questions/validation

ASSOCIATION_TRAINING_MULTIMODALQA=${DATA_ROOT}/multimodalqa/association_training
ASSOCIATION_VALIDATION_MULTIMODALQA=${DATA_ROOT}/multimodalqa/association_validation


#################################
# MULTIMODALQA RESULTS
#################################

CRITERIA_TRAINING_MULTIMODALQA=${RESULTS_ROOT}/multimodalqa/le/training/criteria_extraction
ANSWERS_TRAINING_MULTIMODALQA=${RESULTS_ROOT}/multimodalqa/le/training/QA_Answers

CRITERIA_VALIDATION_MULTIMODALQA=${RESULTS_ROOT}/multimodalqa/le/validation/criteria_extraction

ANSWERS_VALIDATION_LE_MULTIMODALQA=${RESULTS_ROOT}/multimodalqa/le/validation/QA_Answers
ANSWERS_VALIDATION_DP_MULTIMODALQA=${RESULTS_ROOT}/multimodalqa/dp/validation/QA_Answers
ANSWERS_VALIDATION_COT_MULTIMODALQA=${RESULTS_ROOT}/multimodalqa/cot/validation/QA_Answers
ANSWERS_VALIDATION_PP_MULTIMODALQA=${RESULTS_ROOT}/multimodalqa/pp/validation/QA_Answers


#################################
# MANYMODALQA PATHS
#################################

IMAGE_DIR_MANYMODALQA=${DATA_ROOT}/manymodalqa/images
TEXT_DIR_MANYMODALQA=${DATA_ROOT}/manymodalqa/texts
TABLE_DIR_MANYMODALQA=${DATA_ROOT}/manymodalqa/tables
FINAL_DATASET_IMAGES_MANYMODALQA=${DATA_ROOT}/manymodalqa/final_dataset_images

QUESTIONS_VALIDATION_MANYMODALQA=${DATA_ROOT}/manymodalqa/questions/validation

ASSOCIATION_VALIDATION_MANYMODALQA=${DATA_ROOT}/manymodalqa/association_validation


#################################
# MANYMODALQA RESULTS
#################################

CRITERIA_VALIDATION_MANYMODALQA=${RESULTS_ROOT}/manymodalqa/le/validation/criteria_extraction

ANSWERS_VALIDATION_LE_MANYMODALQA=${RESULTS_ROOT}/manymodalqa/le/validation/QA_Answers
ANSWERS_VALIDATION_DP_MANYMODALQA=${RESULTS_ROOT}/manymodalqa/dp/validation/QA_Answers
ANSWERS_VALIDATION_COT_MANYMODALQA=${RESULTS_ROOT}/manymodalqa/cot/validation/QA_Answers
ANSWERS_VALIDATION_PP_MANYMODALQA=${RESULTS_ROOT}/manymodalqa/pp/validation/QA_Answers